body {
    background-color: #f4f0f0;
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
}

h1 {
    color: #2c3e50;
    font-size: 48px;
}

p {
    color: #535353;
    font-size: 20px;
}
button {
    background-color: #4c61af;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4349a0;
}
.course {
    background-color: white;
    width: 400px;
    margin: 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.course:hover {
    transform: translateY(-5px);
}
header {
    background-color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

nav a {
    text-decoration: none;
    color: #2c3e50;
    margin-left: 20px;
    font-weight: bold;
}
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}